html{
    background-color: black;
}

#video{
    margin-top:13%;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    padding:none;
}

#video p{
    font-size:12pt;
    font-family: 'Roboto Condensed', sans-serif;
}

#video a:link,a:visited{
    text-decoration: none;
    color:white;
}

#video a:hover{
    text-decoration: none;
    color:#cc1e19;
}

h1{
    text-align: center;
    font-size:30;
    font-family:'Roboto Condensed', sans-serif;
    color:#e0211b;
}

.home{
    margin-top:13%;
}

.home a{
    text-decoration: none;
    color:#e0211b;
}

.home a:hover{
    color:#909090;
}

#rogue a:hover{
    color:#00ff1e;
}