@font-face {
  font-family: 'Roboto Condensed';
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #000;
}

html, body {
  min-height: 100%;
}

#video{
    margin-top:13%;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    padding:none;
}

#video p{
    font-size:12pt;
    font-family: 'Roboto Condensed', sans-serif;
}

#video a:link,a:visited{
    text-decoration: none;
    color:white;
}

#video a:hover{
    text-decoration: none;
    color:#cc1e19;
}

h1 {
    font-family: 'Roboto Condensed';
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
    color: #e0211b;
}
#rogue a:hover{
    color: #00ff1e;
}
#nav-div {
  position: absolute;
  width: 40%;
  top: 30px;
  background-color: #000;
  left: 50%;
  margin-left: -20%;
  z-index: 1;
    text-align: center;
    font-size: 60px;
}
ul {
  display: block;
  height: auto;
  width: 100%;
  list-style: none;
}
li {
    width: 100%;
    display: block;
    background-color: #000;
}
.content {
    position:absolute;
    width: 60%;
    height: 100%;
    left: 50%;
    margin-left: -30%;
    background-color: #000;
    z-index: 0;
}
