body {
  padding-top: 25px;
  color: red;
  background-color: black;

}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: none;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #511111 ;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  color: #696969;
}

/* unvisited link */
a:link {
    color: #E31B40;
}

/* visited link */
a:visited {
    color: #8f061f;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}