body {
  padding-top: 20px;
  color: red;
  background-color: black;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: none;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #511111 ;
}
.jumbotron .btn {
  padding: 14px 14px;
  font-size: 21px;
  color: #696969;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}